<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a class="btn btn-success" href="/">
                Adicionar Produtos
            </a>
            <a class="btn btn-success" asp-area="cadastro">
                Preencher Cadastro
            </a>
        </div>
    </div>
</div>