<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a class="btn btn-success" href="/">
                Voltar ao Catálogo
            </a>
        </div>
    </div>
</div>