<div class="form-group">
    <a class="btn btn-success" href="/">
        Continuar Comprando
    </a>
</div>
<div class="form-group">
    <button type="submit"
            class="btn btn-success">
        Finalizar Pedido
    </button>
</div>