<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="/Cadastro/Incluir" method="post">
        <label>Titulo</label>
        <input name="titulo" />
        <br>

        <label>Autor</label>
        <input name="autor" />
        <br>

        <button>Cadastrar Livro</button>
    </form>
</body>
</html>